In [1]:
'''
Set path to the folder of used python files
'''
import sys
sys.path.insert(0, '/Users/lynnjiang/liuGit/Pybook/Clinic-Analysis/Scripts/Data_Cleaning')
from Abstract import Abstract

In [2]:
aa = Abstract()

In [4]:
procedures_df = aa.read_data('PROCEDUREEVENTS_MV')
procedures_df[:20]

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,VALUE,VALUEUOM,LOCATION,...,ORDERCATEGORYNAME,SECONDARYORDERCATEGORYNAME,ORDERCATEGORYDESCRIPTION,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE
0,379,29070,115071,232563.0,2145-03-12 23:04:00,2145-03-12 23:05:00,225401,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
1,380,29070,115071,232563.0,2145-03-12 23:04:00,2145-03-12 23:05:00,225454,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
2,381,29070,115071,232563.0,2145-03-12 23:05:00,2145-03-18 20:01:00,225792,8456.0,hour,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
3,382,29070,115071,232563.0,2145-03-12 23:36:00,2145-03-12 23:37:00,225402,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
4,383,29070,115071,232563.0,2145-03-13 01:27:00,2145-03-16 16:00:00,224560,5193.0,min,Right IJ,...,Invasive Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
5,384,29070,115071,232563.0,2145-03-13 08:45:00,2145-03-13 08:46:00,225439,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,2,Rewritten,RN,NaN,2145-03-13 10:16:00
6,385,29070,115071,232563.0,2145-03-13 09:00:00,2145-03-13 09:01:00,225439,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
7,386,29070,115071,232563.0,2145-03-14 09:00:00,2145-03-14 09:01:00,225402,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
8,387,29070,115071,232563.0,2145-03-14 10:30:00,2145-03-14 10:31:00,225402,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,2,Rewritten,RN,NaN,2145-03-14 10:30:00
9,388,29070,115071,232563.0,2145-03-15 06:26:00,2145-03-15 06:27:00,225459,1.0,None,NaN,...,Imaging,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
10,389,29070,115071,232563.0,2145-03-15 09:16:00,2145-03-15 09:17:00,225432,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
11,390,29070,115071,232563.0,2145-03-15 12:17:00,2145-03-15 12:18:00,225401,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
12,391,29070,115071,232563.0,2145-03-15 17:35:00,2145-03-15 17:36:00,225459,1.0,None,NaN,...,Imaging,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
13,392,29070,115071,232563.0,2145-03-15 20:14:00,2145-03-16 20:00:00,224274,1426.0,min,NaN,...,Peripheral Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
14,393,29070,115071,232563.0,2145-03-16 12:02:00,2145-03-16 12:03:00,225401,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
15,394,29070,115071,232563.0,2145-03-16 14:30:00,2145-03-18 20:01:00,224263,3211.0,min,NaN,...,Invasive Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
16,395,29070,115071,232563.0,2145-03-16 17:52:00,2145-03-16 17:53:00,225459,1.0,None,NaN,...,Imaging,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
17,396,29070,115071,232563.0,2145-03-17 00:51:00,2145-03-17 00:52:00,225401,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,1,Rewritten,NaN,RN,2145-03-17 00:52:00
18,397,29070,115071,232563.0,2145-03-17 00:52:00,2145-03-17 00:53:00,225401,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
19,398,29070,115071,232563.0,2145-03-17 04:22:00,2145-03-17 04:23:00,225459,1.0,None,NaN,...,Imaging,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN

In [5]:
procedures_icd_df = aa.read_data('PROCEDURES_ICD')

In [7]:
## SEQ_NUM: provides the order in which the procedures were performed.
procedures_icd_df.sort_values(by='SUBJECT_ID')[:20]

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM  ICD9_CODE
95085   109376           2   163353        1       9955
45149    44184           3   145834        1       9604
45150    44185           3   145834        2       9962
45151    44186           3   145834        3       8964
45152    44187           3   145834        4       9672
45153    44188           3   145834        5       3893
45154    44189           3   145834        6        966
97351    74266           4   185777        1       3893
97352    74267           4   185777        2       8872
97353    74268           4   185777        3       3323
19969    35822           5   178980        1       9955
104898   91635           6   107064        1       5569
104900   91637           6   107064        3       3957
104901   91638           6   107064        4       3806
104902   91639           6   107064        5       9904
104899   91636           6   107064        2         91
97593    76712           7   118037        1       9955
40631    54112           8   159514        1       9390
40632    54113           8   159514        2        640
40633    54114           8   159514        3       9955

In [8]:
d_icd_procedures_df = aa.read_data('D_ICD_PROCEDURES')
d_icd_procedures_df[:20]

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,264,851,Canthotomy,Canthotomy
1,265,852,Blepharorrhaphy,Blepharorrhaphy
2,266,859,Adjust lid position NEC,Other adjustment of lid position
3,267,861,Lid reconst w skin graft,Reconstruction of eyelid with skin flap or graft
4,268,862,Lid reconst w muc graft,Reconstruction of eyelid with mucous membrane ...
5,269,863,Lid reconst w hair graft,Reconstruction of eyelid with hair follicle graft
6,270,864,Lid recon-tarsoconj flap,Reconstruction of eyelid with tarsoconjunctiva...
7,271,869,Lid reconstr w graft NEC,Other reconstruction of eyelid with flaps or g...
8,272,870,Lid reconstruction NOS,"Reconstruction of eyelid, not otherwise specified"
9,273,871,Lid marg recon-part thic,"Reconstruction of eyelid involving lid margin,..."
10,274,872,Lid recons-part thic NEC,"Other reconstruction of eyelid, partial-thickness"
11,275,873,Lid marg recons ful thic,"Reconstruction of eyelid involving lid margin,..."
12,276,874,Lid reconst-ful thic NEC,"Other reconstruction of eyelid, full-thickness"
13,277,881,Linear rep lid lacer,Linear repair of laceration of eyelid or eyebrow
14,278,882,Lid marg lac rx-part th,"Repair of laceration involving lid margin, par..."
15,279,883,Lid lacer rx-prt th NEC,"Other repair of laceration of eyelid, partial-..."
16,280,884,Lid marg lac rx-ful thic,"Repair of laceration involving lid margin, ful..."
17,281,885,Lid lac rx-ful thic NEC,"Other repair of laceration of eyelid, full-thi..."
18,282,886,Lower lid rhytidectomy,Lower eyelid rhytidectomy
19,283,887,Upper lid rhytidectomy,Upper eyelid rhytidectomy